.MENU{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
    list-style: none;
    color: white;
    font-weight: 10;


    

}

*{
    
    background-color: blueviolet;
}
